*.spec
*.exe
*.pkg
*.toc
*.zip
*.pyc
*.pyz
*.pyd
*.dll
*.pem
*.typed
*.APACHE
*.BSD
*.ttf
*.bmp
*.qm
dist/app/_internal/cryptography-44.0.2.dist-info/INSTALLER
dist/app/_internal/cryptography-44.0.2.dist-info/licenses/LICENSE
dist/app/_internal/cryptography-44.0.2.dist-info/METADATA
dist/app/_internal/cryptography-44.0.2.dist-info/RECORD
dist/app/_internal/cryptography-44.0.2.dist-info/REQUESTED
dist/app/_internal/cryptography-44.0.2.dist-info/WHEEL
dist/app/_internal/flask-3.1.0.dist-info/INSTALLER
dist/app/_internal/flask-3.1.0.dist-info/METADATA
dist/app/_internal/flask-3.1.0.dist-info/RECORD
dist/app/_internal/flask-3.1.0.dist-info/REQUESTED
dist/app/_internal/flask-3.1.0.dist-info/WHEEL
dist/app/_internal/itsdangerous-2.2.0.dist-info/INSTALLER
dist/app/_internal/itsdangerous-2.2.0.dist-info/METADATA
dist/app/_internal/itsdangerous-2.2.0.dist-info/RECORD
dist/app/_internal/itsdangerous-2.2.0.dist-info/WHEEL
dist/app/_internal/MarkupSafe-3.0.2.dist-info/INSTALLER
dist/app/_internal/MarkupSafe-3.0.2.dist-info/METADATA
dist/app/_internal/MarkupSafe-3.0.2.dist-info/RECORD
dist/app/_internal/MarkupSafe-3.0.2.dist-info/WHEEL
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/INSTALLER
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/LICENSE
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/METADATA
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/RECORD
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/REQUESTED
dist/app/_internal/setuptools/_vendor/importlib_metadata-8.0.0.dist-info/WHEEL
dist/app/_internal/setuptools/_vendor/wheel-0.45.1.dist-info/INSTALLER
dist/app/_internal/setuptools/_vendor/wheel-0.45.1.dist-info/METADATA
dist/app/_internal/setuptools/_vendor/wheel-0.45.1.dist-info/RECORD
dist/app/_internal/setuptools/_vendor/wheel-0.45.1.dist-info/REQUESTED
dist/app/_internal/setuptools/_vendor/wheel-0.45.1.dist-info/WHEEL
dist/app/_internal/werkzeug-3.1.3.dist-info/INSTALLER
dist/app/_internal/werkzeug-3.1.3.dist-info/METADATA
dist/app/_internal/werkzeug-3.1.3.dist-info/RECORD
dist/app/_internal/werkzeug-3.1.3.dist-info/WHEEL
/dist/app/_internal
/build/app
